{% extends "pages/layout.html" %}

{% block content %}
<div class="">
    <div class="hero-section">
        <div class="hero-items">
            <h1>geo-volunteer</h1>
            <h3>The quickest way to volunteer you geo-skills</h3>
            <div class="hero-buttons">
                <button type="submit"></button>
                <button type="submit" class="btn btn-primary"></button>
            </div>
        </div>
        <div class="hero-banner">
            <img src="https://image.shutterstock.com/image-illustration/digital-elevation-model-gis-product-600w-2031802217.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}