{% extends "pages/layout.html" %}

{% block content %}

<div class="row gx-4 gx-lg-5 justify-content-center">
    
<div class="col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://image.shutterstock.com/image-illustration/digital-elevation-model-gis-product-600w-2031802217.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6 hero-items">
        <h1 class="display-5 fw-bold lh-1 mb-3">geo-volunteer</h1>
        <h3>The quickest way to volunteer you geo-skills</h3>
        <p class="lead">Bloggur is a community where you can post your thought and share ideas with a vast array of tech audience. It is the home of amazing contents. Join other Blugs and get access to premium posts and you might just get inspired for your next project.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href=""><button type="button" class="btn btn-warning btn-lg px-4 me-md-2">Join</button></a>
          <a href="#post"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Explore</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}