{% extends "pages/layout.html" %}

{% block content %}

<div class="blog-head">
    <div class="container position-relative px-4 px-lg-5">
        <div class="center">    
          <h3>Organizations</h3>
        </div>
    </div>
</div>  
  

<div class="container">
    <div class="row mb-2">
        <h2>Organizations List</h2>
        <!-- for post in posts  -->
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>

        <!-- endfor  -->
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>
        <div id="posts" class="col-md-4 post">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="picture"></div>
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">GRMI</h3>
                    <div class="mb-1 text-muted"></div>
                    <p class="card-text mb-auto">Great volunteer</p>
                    <a href="" class="stretched-link">Continue reading</a>
                    <strong class="author"></strong>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}